a:hover{
	text-decoration:none;
}

i{ font-style:normal}
#main_box{
    border:1px solid #F1F1F1;
    padding: 25px 20px;
    box-sizing: border-box;
    position: relative;
  /*   padding-bottom:0; */
}
#main_box>.main_list>li{
    display: flex;
}
#main_box>.main_list span{
    display: inline-block;
    width: 100px;
    font-size: 16px;
    text-align: right;
    color: #AEAEAE;
}
#main_box>.main_list ul{
    display: flex;
    flex-wrap:wrap;
    width: 1100px;
}
#main_box>.main_list>li{
    line-height: 37px;
}
#main_box>.main_list .list1{
    height: 67px;
}
#main_box>.main_list ul li{
    display: inline-block;
    width: 104px;
    margin:0 7px;
    font-size: 14px;
    color: #4B4B4B;
}
#main_box>.main_list ul input{
    vertical-align:middle;
    margin-top:1px;
}
#main_box>.main_list ul a{
    color: #4B4B4B;
}
#main_box>.main_list ul li a:hover{
    color: #f76500 !important;
}

#main_box>.main_list ul .bac_col a {
    color: #E60012;
}
#main_box>.main_list .list4 li{
    position: relative;
}
#main_box>.main_list .list4 input{
    height: 30px;
    box-sizing: border-box;
    outline: none;
    width: 600px;
}
#main_box>.main_list {
   /*  height: 150px; */
    overflow: hidden;
    transition: height .5s;
}
#main_box>.main_list .list4 a{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../images/ranking/sousuo.png");
    position: absolute;
    top: 13px;
    right: -490px;
}
#main_box>.stop a{
    display: inline-block;
    width: 140px;
    height: 25px;
    position: absolute;
    bottom: -26px;
    left: 530px;
    border:1px solid #EAEAEA;
    border-top:none;
    border-radius: 5px;
    color: #BABABA;
    padding-right: 30px;
    text-align: center;
    line-height: 25px;
    box-sizing: border-box;
}

#main_box>.stop a:before {
    content: " ";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(../images/ranking/zhankai.png);
    position: absolute;
    bottom: 5px;
    left: 100px;
}
#main_box>.active a:before{
    background-image: url("../images/ranking/shouqi.png");
}
#main_box>.main_list .bt_click{
    text-align: center;
    display: inline-block;
    width: 110px;
    height: 35px;
    line-height: 30px;
    border:1px solid #0FBBE9;
    color:#0FBBE9 ;
    margin-left: 7px;
    box-sizing: border-box;
    border-radius: 5px;
}
#main_box>.main_list .bt_click a{
    margin-left: 5px;
    font-size: 20px;
    color:#0FBBE9;
}

/*数据列表*/
#list>.tbn{
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
    font-size: 14px;
}
#list>.tbn>thead{
    background-color:#F1F1F1 ;
}
#list>.tbn>tbody>tr:nth-of-type(even) {
    background-color: #F7F7F7;
}
#list>.tbn th{
    height: 50px;
    box-sizing: border-box;
    border:none;
    line-height:56px;
    padding:0;
   
}
#list>.tbn td{
    text-align: center;
    border:none;
    height: 50px;
    box-sizing: border-box;
}
#list>.tbn td a{
    color: #63C1F9;
}
#list>.tbn td>a:hover{
    color: #f76500;
}
#list>.tbn td:nth-child(5),
#list>.tbn td:nth-child(6),
#list>.tbn td:nth-child(9){
    color: #D53229;
}
/*分页*/
#list>.paging{
    display: flex;
    margin: 30px 0;
    justify-content: center;
    line-height: 40px;
}
#list>.paging a{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border:1px solid #F6F6F6;
    margin-right: 10px;
    font-size: 16px;
    color: #575757;
    box-sizing: border-box;
}
#list>.paging .lt a{
    background-image: url("../images/recommend/xiangzuo.png");
}
#list>.paging .gt a{
    background-image: url("../images/recommend/xiangyou.png");
}
#list>.paging .Jump{
    margin: 0 10px;
    font-size: 14px;
}
#list>.paging .Jump input{
    width: 80px;
    height: 40px;
    margin: 0 5px;
    outline:none;
    box-sizing: border-box;
    text-align: center;
}

#list>.paging .confirm a{
    width: 80px;
    margin: 0;
    border-radius: 5px;
}
#list>.paging .page{
    color: #ffffff;
    background-image: url("../images/recommend/dangqianye.png");
}
thead th{
	text-align:center;
} 
.list1 li a:hover{
	color:#f76500!important;
}
td{
	text-align:center;
	font-size:14px;
	height:45px;
	/* line-height: 45px!important; */
}
.red{
	color:#d32c24;
}
td,th{
	/* padding:15px 0!important; */
}
.loading{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:rgba(0,0,0,0.3);
	display:block;
}
.loading img{
	display:block;
	float:left;
	margin-top:25%;
	margin-left:50%;
}
#select_type{
	min-height:35px;
}
#select_type p{
	min-height:35px;
	display:block;
	float:left;
}
