/*濞戞捁顔婄紞锟�*/
/*缂佸绀佺�氭瑩宕楅锟藉锟�*/
input[type=number] {  
    -moz-appearance:textfield;  
}  
input[type=number]::-webkit-inner-spin-button,  
input[type=number]::-webkit-outer-spin-button {  
    -webkit-appearance: none;  
    margin: 0;  
} 


input,textarea{
	outline:none;
}
#main_box .private_top{
    height: 50px;
    line-height: 50px;
    background-color: #F5F5F5;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
#main_box .private_top p{
    font-size: 16px ;
}
#main_box .private_top a{
    color: #868686;
    font-size: 14px;
    position: relative;
    padding-right: 25px;
}
#main_box .private_top a:hover{
    color: #E60012;
}
#main_box .private_top a:before{
    content: " ";
    margin-left: 10px;
    margin-bottom: 2px;
    display: inline-block;
    width: 16px;
    height: 7px;
    background-image: url(../images/free_top.png);
    position: absolute;
    top: 21px;
    right: 0;
}

#main_box .private_top .a_btm:before{
    background-image: url(../images/free_bottom.png);
}
#main_box .basic{
    font-size: 16px;
    margin: 40px 0 20px 0;
}
#main_box .private .btn{
    width: 100%;
    margin: 0 auto;
}
#main_box .private .btn_cancel td{
    text-align: left;
}
#main_box  td{
    line-height: 20px;
    font-size: 14px;

}
#main_box .btn_let td:nth-of-type(odd){
    text-align: right;
}
#main_box .btn input{
    width: 300px;
    height:25px;
    box-sizing: border-box;
    outline: none;
}
#main_box .private  textarea{
    vertical-align: top;
    width:100%;
    margin-top: 5px;
}
#main_box input{
    outline: none;
}
/*闁糕晜妞介崳鍓х磼韫囨洘鍊�*/
#main_box .private .btn_1{
    border:1px solid #F5F5F5;
    width: 100%;
    margin: 0 auto;
}
#main_box .ipt,#main_box .ipt2{
    width: 100%;
    height: 50px;
    padding: 0;
    border:0;
    font-size: 50px;
    line-height: 50px;
    color: #FCFCFC;
    outline: none;
    cursor:pointer;
    margin-bottom: 30px;
}
#main_box .private .ipt_rad{
    vertical-align: middle;
    margin-top: 2px;
    width: 15px;
    height: 15px;
}
#main_box .private .btn span{
    margin-left: 10px;
}

#main_box .check input:not(:first-child){
    margin-left: 40px;
}
#main_box .check_1 input:not(:first-child) {
    margin-left: 54px;
}
#main_box .btn_2{
    width: 100%;
    border:1px solid #F5F5F5;
    height: 70px;
    padding: 10px 20px;
}
#main_box .btn_3{
    width: 100%;
    border:1px solid #F5F5F5;
    height: 70px;
    padding: 30px 30px;
    text-align: center;
}
#main_box .btn_3 td{
    text-align: right;
}
#main_box .btn_3 td:nth-child(2),#main_box .btn_3 td:nth-child(4){
    text-align: left;
}
#main_box .btn_3 input{
    width: 300px;
}
#main_box .btn_3 span{
    font-size: 12px;
    margin-right: 17px;
}
/*闁告牗妞藉Λ鍧楀绩閸撲焦鎶�*/
#main_box .btn_4{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
#main_box .btn_4 th{
    height: 50px;
    font-size: 14px;
    background-color: #F7F7F7;
}
#main_box .btn_4 td{
    text-align: center;
    height: 50px;
    line-height: 50px;

}
#main_box .btn_4 td input{
    width: 110px;
    height: 25px;
    border-radius: 5px;
}
#main_box .btn_4 tr:nth-of-type(even) {
    background-color: #F7F7F7;
}
#main_box .Prompt p{
    color: #ABABAB;
    font-size: 14px;
}
/*闁捐绉靛▍銈囨嫚閸曨參鐛�*/
#main_box .btn_slt select{
    width: 70px;
    height: 30px;
}
/*闁圭粯鍔掑锔界▔鎼淬劌娅㈢紓鍐挎嫹*/
#sub_reset{
    display: flex;
    justify-content: center;
}
#sub_reset input{
    width: 130px;
    height: 50px;
    margin:50px 30px 100px 30px;
    font-size: 16px;
    border-radius: 8px;
    color: #ffffff;
    border:0;
}
#sub_reset input:hover{
    cursor:pointer;
}
#sub_reset li:nth-child(1) input{
    background: #53B9FB;
    text-align:center;
}
td:hover{
	color:#333;
	cursor:text;
}

.first01{
	width:100%;
	margin-left:0;
	margin-right:0;
}
.first01 div{
	height:50px;
}
 tbody,tr{
	width:100%!important;
} 

.border-color{
	border-color:#f76500;
}
.right{
	text-align:center!important;
}
.px,.px tr{
	width:100%;
}
.px tr td{
	width:50%;
}
tr{
	height:35px!important;
}
.splical{
	display:block;
	margin-top:-15px;
	
}